/* BACKGROUND */
.login-page {
    padding-top: 100px;
    min-height: 100vh;
    background: url("../assets/background.png") center / cover no-repeat;
}

/* JUDUL */
.login-title {
    text-align: center;
    font-size: 42px; /* 🔥 lebih pas */
    font-weight: 800;
    margin: 20px 0 10px;
}

/* CONTAINER (lebih tinggi dari login) */
.login-containers {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 45px 35px;
    border-radius: 25px;

    background: rgba(70, 150, 180, 0.45);
    backdrop-filter: blur(10px);

    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

/* FORM */
.login-containers form {
    width: 100%;
}

/* INPUT */
.input {
    width: 100%;
    padding: 14px 18px;
    border-radius: 40px;
    border: none;
    margin-top: 18px;
    font-size: 15px;
    outline: none;

    background: #2f6fa1;
    color: white;
}

.input::placeholder {
    color: rgba(255,255,255,0.7);
}

/* SELECT biar mirip */
select.input {
    appearance: none;
    cursor: pointer;
}

/* PASSWORD */
.password-box {
    position: relative;
}

.password-box .show {
    width: 22px;
    height: 22px;
    position: absolute;
    right: 20px;
    top: 60%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* TEXT */
.signup-text {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

.signup-text a {
    color: #0d47ff;
    font-weight: 600;
    text-decoration: none;
}

/* BUTTON */
.btn-login {
    display: block;
    margin: 35px auto 0;
    padding: 12px 40px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background: #5aa6d9;
    color: white;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.btn-login:hover {
    background: #3f8cc4;
}
