/* ================= RESET ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI, Arial, sans-serif;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* 🔥 ini yang bikin full */
    height: 80px;

    background: #2B6F8B;
    color: white;

    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 25px;
    

    font-size: 20px;
    font-weight: 600;

    z-index: 1000; /* biar di atas semua */
}

.topbar {
    align-items: center;  /* pastiin tengah vertikal */
}

.logo {
    height: 50px;        /* cukup tinggi aja */
    width: auto;         /* 🔥 biar ga gepeng */

    object-fit: contain;

    display: block;      /* hilangin space aneh */
}
