body {
    margin: 0;
    font-family: Arial;
}

.topbar {
    background: #2358BB;
    color: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 25px;
}

.logo {
    width: 60px;
}

.background {
    background-image: url('../assets/background.png');
    background-size: cover;
    background-position: center 30%;
    filter: blur(2px);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
}

.welcome-box {
    text-align: center;
    margin-top: 150px;
}

.welcome-box{
    font-size: 50px;
    font-family: instrument-sans;
    font-weight: bold;
    color: #14326B;
}

.buttons-sign-in button {
    padding: 12px 28px;
    background: #475F97;
    color: white;
    border: none;
    border-radius: 999px; /* SUPER rounded */
    font-size: 25px;
    cursor: pointer;
    transition: 0.2s;
    margin: 0 75px;
}

.buttons-sign-in button:hover {
    background: #0f4ca7;
    transform: translateY(-2px);
}

.login-container {
    width: 380px;
    padding: 40px 30px;
    margin: 140px auto;
    background-image: url('../assets/card.png');
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.25);
    text-align: center;
    position: relative;
    z-index: 1;
}

.back-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;     /* bisa disesuaikan */
    height: auto;
    cursor: pointer;
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.3));
    transition: transform 0.2s;
}

.back-button:hover {
    transform: scale(1.1);
}

/* MAIN LAYOUT */
.main-wrapper {
    display: flex;
    padding: 25px;
    gap: 25px;
    margin-top: 0;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 12px;
    background: #0f2e70;
    padding: 12px 15px;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    transition: 0.2s;
}

.menu-item:hover {
    background: #13408C;
    transform: scale(1.03);
}

.menu-title {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 -5px;
}

.icon {
    width: 32px;
}

/* CONTENT AREA */
.content-area {
    width: 100%;
}

.surat-card {
    width: 90%;
    background: #082B66;
    color: white;
    padding: 25px 30px;
    border-radius: 15px;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: 0.25s;
}

.surat-card:hover {
    transform: scale(1.03);
    background: #0A3A85;
}

.email-icon {
    width: 40px;
}

/* Floating Button */
.floating-btn {
    position: fixed;
    bottom: 40px;
    right: 330px; /* ganti posisi sesuai mau di mana */
    width: 60px;
    height: 60px;
    background: #007bff;
    color: #fff;
    font-size: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    z-index: 9999; /* BIAR DI DEPAN SEMUA TERMASUK SIDEBAR */
}


.floating-btn:hover {
    background: #006eff;
    transform: scale(1.1);
}

/* MENU ICON DI KANAN ATAS */
.menu-toggle {
    width: 35px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1; /* BIAR KETUTUP SIDEBAR */
}

/* SIDEBAR AWALNYA TERTUTUP */
.sidebar {
    position: fixed;
    top: 0;
    right: -300px; /* disembunyikan */
    width: 260px;
    height: 100vh;
    background: rgba(0, 60, 150, 0.95);
    border-radius: 0 0 0 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: 0.3s ease;
    z-index: 9999;
}

/* SIDEBAR AKTIF */
.sidebar.active {
    right: 0;
}

/* TOMBOL X */
.close-sidebar {
    width: 30px;
    margin-left: auto;
    cursor: pointer;
}



